# Data Science Project: World Cup Predictions

Javier Canto & Alexei


* Preparing the data, 
* Analysing and visualising the data, 
* Cleaning the data, 
* Selecting features,
* Dividing your data into a training and test set, 
* Training and applying the machine learning algorithm,
* Evaluating its results.

# 1. Preparing the data

Importing all the libraries we are gonna use.

In [220]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import matplotlib.pyplot as plt

Reading our csv file with the data.

In [221]:
dcsv = pd.read_csv('international_matches.csv')
df = pd.DataFrame(dcsv)

Showing our initial data frame.

In [222]:
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,...,No,Draw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,...,No,Win,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,...,No,Lose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [223]:
df.head()
df.tail()

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,...,shoot_out,home_team_result,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,...,No,Win,65.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,...,No,Lose,NaN,65.0,NaN,NaN,NaN,NaN,NaN,NaN
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,...,Yes,Lose,79.0,74.0,75.5,76.7,78.2,75.5,76.0,78.2
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,...,No,Lose,73.0,NaN,75.2,75.0,77.5,70.8,72.3,74.0
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,...,No,Win,75.0,NaN,73.0,80.0,73.8,NaN,79.3,70.8

In [224]:
df.dtypes

date                              object
home_team                         object
away_team                         object
home_team_continent               object
away_team_continent               object
home_team_fifa_rank                int64
away_team_fifa_rank                int64
home_team_total_fifa_points        int64
away_team_total_fifa_points        int64
home_team_score                    int64
away_team_score                    int64
tournament                        object
city                              object
country                           object
neutral_location                    bool
shoot_out                         object
home_team_result                  object
home_team_goalkeeper_score       float64
away_team_goalkeeper_score       float64
home_team_mean_defense_score     float64
home_team_mean_offense_score     float64
home_team_mean_midfield_score    float64
away_team_mean_defense_score     float64
away_team_mean_offense_score     float64
away_team_mean_midfield_score    float64
dtype: object

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23921 entries, 0 to 23920
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           23921 non-null  object
 1   home_team                      23921 non-null  object
 2   away_team                      23921 non-null  object
 3   home_team_continent            23921 non-null  object
 4   away_team_continent            23921 non-null  object
 5   home_team_fifa_rank            23921 non-null  int64
 6   away_team_fifa_rank            23921 non-null  int64
 7   home_team_total_fifa_points    23921 non-null  int64
 8   away_team_total_fifa_points    23921 non-null  int64
 9   home_team_score                23921 non-null  int64
 10  away_team_score                23921 non-null  int64
 11  tournament                     23921 non-null  object
 12  city                           23921 non-null  object
 13  country                        23921 non-null  object
 14  neutral_location               23921 non-null  bool
 15  shoot_out                      23921 non-null  object
 16  home_team_result               23921 non-null  object
 17  home_team_goalkeeper_score     8379 non-null   float64
 18  away_team_goalkeeper_score     8095 non-null   float64
 19  home_team_mean_defense_score   7787 non-null   float64
 20  home_team_mean_offense_score   8510 non-null   float64
 21  home_team_mean_midfield_score  8162 non-null   float64
 22  away_team_mean_defense_score   7564 non-null   float64
 23  away_team_mean_offense_score   8312 non-null   float64
 24  away_team_mean_midfield_score  7979 non-null   float64
dtypes: bool(1), float64(8), int64(6), object(10)
memory usage: 4.4+ MB

In [226]:
df.describe()

,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,home_team_goalkeeper_score,away_team_goalkeeper_score,home_team_mean_defense_score,home_team_mean_offense_score,home_team_mean_midfield_score,away_team_mean_defense_score,away_team_mean_offense_score,away_team_mean_midfield_score
count,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,23921.000000,8379.000000,8095.000000,7787.000000,8510.000000,8162.000000,7564.000000,8312.000000,7979.000000
mean,77.854688,80.797375,323.401488,315.453576,1.609214,1.068266,74.963838,74.212477,74.903249,75.818743,75.889292,74.424379,75.420019,75.259143
std,52.355225,53.232902,500.825725,490.944273,1.630127,1.263944,8.212242,8.225919,6.003114,6.268416,6.053110,5.937425,6.201906,6.124573
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,47.000000,47.000000,52.800000,53.300000,54.200000,52.800000,53.300000,54.200000
25%,33.000000,36.000000,0.000000,0.000000,0.000000,0.000000,70.000000,69.000000,71.000000,71.700000,72.500000,70.500000,71.300000,71.800000
50%,71.000000,73.000000,0.000000,0.000000,1.000000,1.000000,75.000000,74.000000,75.200000,75.700000,76.200000,74.500000,75.300000,75.500000
75%,115.000000,119.000000,547.000000,523.000000,2.000000,2.000000,81.000000,80.000000,78.800000,80.000000,79.500000,78.200000,79.700000,79.000000
max,211.000000,211.000000,2164.000000,2164.000000,31.000000,21.000000,97.000000,97.000000,91.800000,93.000000,93.200000,91.800000,93.000000,93.200000

Transform the data types from date and shoot_out from objects to the corresponding values.

In [227]:
df["date"] = pd.to_datetime(df["date"])
df["shoot_out"] = df["shoot_out"].astype('bool')
df.dtypes

date                             datetime64[ns]
home_team                                object
away_team                                object
home_team_continent                      object
away_team_continent                      object
home_team_fifa_rank                       int64
away_team_fifa_rank                       int64
home_team_total_fifa_points               int64
away_team_total_fifa_points               int64
home_team_score                           int64
away_team_score                           int64
tournament                               object
city                                     object
country                                  object
neutral_location                           bool
shoot_out                                  bool
home_team_result                         object
home_team_goalkeeper_score              float64
away_team_goalkeeper_score              float64
home_team_mean_defense_score            float64
home_team_mean_offense_score            float64
home_team_mean_midfield_score           float64
away_team_mean_defense_score            float64
away_team_mean_offense_score            float64
away_team_mean_midfield_score           float64
dtype: object

Drop the columns that are no useful

In [228]:
df.drop("home_team_goalkeeper_score",inplace=True,axis=1)
df.drop("away_team_goalkeeper_score",inplace=True,axis=1)
df.drop("home_team_mean_defense_score",inplace=True,axis=1)
df.drop("home_team_mean_offense_score",inplace=True,axis=1)
df.drop("home_team_mean_midfield_score",inplace=True,axis=1)
df.drop("away_team_mean_defense_score",inplace=True,axis=1)
df.drop("away_team_mean_offense_score",inplace=True,axis=1)
df.drop("away_team_mean_midfield_score",inplace=True,axis=1)
df.dtypes

date                           datetime64[ns]
home_team                              object
away_team                              object
home_team_continent                    object
away_team_continent                    object
home_team_fifa_rank                     int64
away_team_fifa_rank                     int64
home_team_total_fifa_points             int64
away_team_total_fifa_points             int64
home_team_score                         int64
away_team_score                         int64
tournament                             object
city                                   object
country                                object
neutral_location                         bool
shoot_out                                bool
home_team_result                       object
dtype: object

In [229]:
df

,date,home_team,away_team,home_team_continent,away_team_continent,home_team_fifa_rank,away_team_fifa_rank,home_team_total_fifa_points,away_team_total_fifa_points,home_team_score,away_team_score,tournament,city,country,neutral_location,shoot_out,home_team_result
0,1993-08-08,Bolivia,Uruguay,South America,South America,59,22,0,0,3,1,FIFA World Cup qualification,La Paz,Bolivia,False,True,Win
1,1993-08-08,Brazil,Mexico,South America,North America,8,14,0,0,1,1,Friendly,Maceió,Brazil,False,True,Draw
2,1993-08-08,Ecuador,Venezuela,South America,South America,35,94,0,0,5,0,FIFA World Cup qualification,Quito,Ecuador,False,True,Win
3,1993-08-08,Guinea,Sierra Leone,Africa,Africa,65,86,0,0,1,0,Friendly,Conakry,Guinea,False,True,Win
4,1993-08-08,Paraguay,Argentina,South America,South America,67,5,0,0,1,3,FIFA World Cup qualification,Asunción,Paraguay,False,True,Lose
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23916,2022-06-14,Moldova,Andorra,Europe,Europe,180,153,932,1040,2,1,UEFA Nations League,Chișinău,Moldova,False,True,Win
23917,2022-06-14,Liechtenstein,Latvia,Europe,Europe,192,135,895,1105,0,2,UEFA Nations League,Vaduz,Liechtenstein,False,True,Lose
23918,2022-06-14,Chile,Ghana,South America,Africa,28,60,1526,1387,0,0,Kirin Cup,Suita,Japan,True,True,Lose
23919,2022-06-14,Japan,Tunisia,Asia,Africa,23,35,1553,1499,0,3,Kirin Cup,Suita,Japan,False,True,Lose
23920,2022-06-14,Korea Republic,Egypt,Asia,Africa,29,32,1519,1500,4,1,Friendly,Seoul,Korea Republic,False,True,Win

In [230]:
x = df[["date", "home_team", "away_team", "home_team_result", "tournament"]].query("tournament == 'FIFA World Cup'")
x

,date,home_team,away_team,home_team_result,tournament
385,1994-06-17,Germany,Bolivia,Win,FIFA World Cup
386,1994-06-17,Spain,Korea Republic,Draw,FIFA World Cup
387,1994-06-18,Colombia,Romania,Lose,FIFA World Cup
388,1994-06-18,Italy,Republic of Ireland,Lose,FIFA World Cup
389,1994-06-18,USA,Switzerland,Draw,FIFA World Cup
...,...,...,...,...,...
20445,2018-07-07,Russia,Croatia,Lose,FIFA World Cup
20446,2018-07-10,France,Belgium,Win,FIFA World Cup
20447,2018-07-11,Croatia,England,Win,FIFA World Cup
20448,2018-07-14,Belgium,England,Win,FIFA World Cup
20449,2018-07-15,France,Croatia,Win,FIFA World Cup

In [231]:
s = df["home_team_score"]
s.mean(), s.median(), s.mode()

(1.6092136616362192,
 1.0,
 0    1
 Name: home_team_score, dtype: int64)

In [232]:
s = df["home_team_score"]
s.max()-s.min(), s.quantile(0.75)-s.quantile(0.25), s.std()

(31, 2.0, 1.6301267123145093)

In [233]:
s = df["away_team_score"]
s.mean(), s.median(), s.mode()

(1.0682663768237113,
 1.0,
 0    0
 Name: away_team_score, dtype: int64)

In [234]:
s = df["away_team_score"]
s.max()-s.min(), s.quantile(0.75)-s.quantile(0.25), s.std()

(21, 2.0, 1.2639443128676153)

# TODO: how many tourmants are in the data? using nunique

In [235]:
s = df["tournament"]
s.nunique

<bound method IndexOpsMixin.nunique of 0        FIFA World Cup qualification
1                            Friendly
2        FIFA World Cup qualification
3                            Friendly
4        FIFA World Cup qualification
                     ...
23916             UEFA Nations League
23917             UEFA Nations League
23918                       Kirin Cup
23919                       Kirin Cup
23920                        Friendly
Name: tournament, Length: 23921, dtype: object>

# TODO: count/sum all the game with shoot_out = true

In [236]:
x = df[["shoot_out"]].query("shoot_out == True")
games_with_shoot_outs = x.sum()
games_with_shoot_outs

shoot_out    23921
dtype: int64

# TODO: how many world cup game were won in shoot outs.

In [237]:
df.groupby("tournament")['shoot_out'].sum()

tournament
ABCS Tournament                                 8
AFC Asian Cup                                 231
AFC Asian Cup qualification                   541
AFC Challenge Cup                             100
AFC Challenge Cup qualification                89
                                             ...
USA Cup                                        25
United Arab Emirates Friendship Tournament     31
VFF Cup                                         9
WAFF Championship                              97
Windward Islands Tournament                    24
Name: shoot_out, Length: 82, dtype: int64

# TODO: change win/loose and draw to 0, 1, 2

In [238]:
z = df.groupby("home_team")['home_team_result'].sum().sort_values(ascending = False)
z

home_team
Czech Republic    WinWinWinWinWinWinWinWinWinWinWinLoseWinWinDra...
Denmark           WinWinWinWinWinWinWinWinWinWinDrawWinWinWinDra...
Mozambique        WinWinWinWinWinWinWinLoseLoseDrawLoseWinWinDra...
Angola            WinWinWinWinWinWinDrawWinWinWinDrawWinWinDrawD...
Tanzania          WinWinWinWinWinLoseWinDrawWinDrawDrawLoseDrawW...
                                        ...
Congo             DrawDrawWinLoseLoseWinDrawWinWinDrawDrawWinWin...
Turkmenistan      DrawDrawLoseLoseWinLoseWinLoseDrawWinWinLoseWi...
Canada            DrawDrawLoseLoseLoseDrawWinLoseLoseLoseWinWinW...
Iraq              DrawDrawDrawWinWinWinWinWinLoseWinWinWinDrawWi...
Algeria           DrawDrawDrawWinWinWinDrawWinLoseWinWinWinWinLo...
Name: home_team_result, Length: 211, dtype: object

# TODO: presentation DS-3-EDA & Titanic examples